In [19]:
import pandas as pd
import glob
import os

# Change year in path
directory_path = r'C:\Users\prabh\OneDrive\Desktop\IPL_Auction\All_Teams_Yearly_Data\2024_teams_data'

csv_files = glob.glob(os.path.join(directory_path, '*.csv'))
dataframes = []

for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    dataframes.append(df)

combined_df = pd.concat(dataframes, ignore_index=True)
combined_df.head(50)

                    PLAYER NATIONALITY           TYPE    PRICE PAID  Team
0     Avanish Rao Aravelly      Indian  Wicket-Keeper     20,00,000     0
1        Mustafizur Rahman    Overseas         Bowler   2,00,00,000     0
2           Daryl Mitchell    Overseas    All-Rounder  14,00,00,000     0
3             Sameer Rizvi      Indian         Batter   8,40,00,000     0
4          Rachin Ravindra    Overseas    All-Rounder   1,80,00,000     0
5           Shardul Thakur      Indian    All-Rounder   4,00,00,000     0
6   Jhathavedh Subramanyan      Indian         Bowler     20,00,000     9
7              Akash Singh      Indian         Bowler     20,00,000     9
8           Jaydev Unadkat      Indian         Bowler   1,60,00,000     9
9        Wanindu Hasaranga    Overseas    All-Rounder   1,50,00,000     9
10             Pat Cummins    Overseas    All-Rounder  20,50,00,000     9
11             Travis Head    Overseas         Batter   6,80,00,000     9
12              Ricky Bhui      Indian  Wicket-Keeper     20,00,000     1
13             Sumit Kumar      Indian    All-Rounder   1,00,00,000     1
14        Swastik Chhikara      Indian         Batter     20,00,000     1
15         Jhye Richardson    Overseas         Bowler   5,00,00,000     1
16               Shai Hope    Overseas  Wicket-Keeper     75,00,000     1
17              Rasikh Dar      Indian         Bowler     20,00,000     1
18          Kumar Kushagra      Indian  Wicket-Keeper   7,20,00,000     1
19          Tristan Stubbs    Overseas  Wicket-Keeper     50,00,000     1
20             Harry Brook    Overseas         Batter   4,00,00,000     1
21            Kartik Tyagi      Indian         Bowler     60,00,000     2
22         Spencer Johnson    Overseas         Bowler  10,00,00,000     2
23            Manav Suthar      Indian         Bowler     20,00,000     2
24              Robin Minz      Indian  Wicket-Keeper   3,60,00,000     2
25          Sushant Mishra      Indian         Bowler   2,20,00,000     2
26      Azmatullah Omarzai    Overseas    All-Rounder     50,00,000     2
27           Shahrukh Khan      Indian    All-Rounder   7,40,00,000     2
28             Umesh Yadav      Indian         Bowler   5,80,00,000     2
29           Mujeeb Rahman    Overseas         Bowler   2,00,00,000     3
30           Manish Pandey      Indian         Batter     50,00,000     3
31            Gus Atkinson    Overseas         Bowler   1,00,00,000     3
32    Angkrish Raghuvanshi      Indian         Batter     20,00,000     3
33         Mitchell  Starc    Overseas         Bowler  24,75,00,000     3
34     Sherfane Rutherford    Overseas         Batter   1,50,00,000     3
35        Ramandeep  Singh      Indian    All-Rounder     20,00,000     3
36             K.S. Bharat      Indian  Wicket-Keeper     50,00,000     3
37         Chetan Sakariya      Indian         Bowler     50,00,000     3
38           Sakib Hussain      Indian         Bowler     20,00,000     3
39           Ashton Turner    Overseas         Batter   1,00,00,000     4
40            David Willey    Overseas    All-Rounder   2,00,00,000     4
41            M. Siddharth      Indian         Bowler   2,40,00,000     4
42            Shivam  Mavi      Indian         Bowler   6,40,00,000     4
43         Arshin Kulkarni      Indian    All-Rounder     20,00,000     4
44       Mohd. Arshad Khan      Indian    All-Rounder     20,00,000     4
45      Dilshan Madushanka    Overseas         Bowler   4,60,00,000     5
46           Shreyas Gopal      Indian         Bowler     20,00,000     5
47         Shivalik Sharma      Indian    All-Rounder     20,00,000     5
48           Anshul Kamboj      Indian    All-Rounder     20,00,000     5
49           Mohammad Nabi    Overseas    All-Rounder   1,50,00,000     5

In [20]:
#change year
combined_df['Year'] = 2024
print(combined_df.head(50))

                    PLAYER NATIONALITY           TYPE    PRICE PAID  Team  \
0     Avanish Rao Aravelly      Indian  Wicket-Keeper     20,00,000     0
1        Mustafizur Rahman    Overseas         Bowler   2,00,00,000     0
2           Daryl Mitchell    Overseas    All-Rounder  14,00,00,000     0
3             Sameer Rizvi      Indian         Batter   8,40,00,000     0
4          Rachin Ravindra    Overseas    All-Rounder   1,80,00,000     0
5           Shardul Thakur      Indian    All-Rounder   4,00,00,000     0
6   Jhathavedh Subramanyan      Indian         Bowler     20,00,000     9
7              Akash Singh      Indian         Bowler     20,00,000     9
8           Jaydev Unadkat      Indian         Bowler   1,60,00,000     9
9        Wanindu Hasaranga    Overseas    All-Rounder   1,50,00,000     9
10             Pat Cummins    Overseas    All-Rounder  20,50,00,000     9
11             Travis Head    Overseas         Batter   6,80,00,000     9
12              Ricky Bhui      Indian  Wicket-Keeper     20,00,000     1
13             Sumit Kumar      Indian    All-Rounder   1,00,00,000     1
14        Swastik Chhikara      Indian         Batter     20,00,000     1
15         Jhye Richardson    Overseas         Bowler   5,00,00,000     1
16               Shai Hope    Overseas  Wicket-Keeper     75,00,000     1
17              Rasikh Dar      Indian         Bowler     20,00,000     1
18          Kumar Kushagra      Indian  Wicket-Keeper   7,20,00,000     1
19          Tristan Stubbs    Overseas  Wicket-Keeper     50,00,000     1
20             Harry Brook    Overseas         Batter   4,00,00,000     1
21            Kartik Tyagi      Indian         Bowler     60,00,000     2
22         Spencer Johnson    Overseas         Bowler  10,00,00,000     2
23            Manav Suthar      Indian         Bowler     20,00,000     2
24              Robin Minz      Indian  Wicket-Keeper   3,60,00,000     2
25          Sushant Mishra      Indian         Bowler   2,20,00,000     2
26      Azmatullah Omarzai    Overseas    All-Rounder     50,00,000     2
27           Shahrukh Khan      Indian    All-Rounder   7,40,00,000     2
28             Umesh Yadav      Indian         Bowler   5,80,00,000     2
29           Mujeeb Rahman    Overseas         Bowler   2,00,00,000     3
30           Manish Pandey      Indian         Batter     50,00,000     3
31            Gus Atkinson    Overseas         Bowler   1,00,00,000     3
32    Angkrish Raghuvanshi      Indian         Batter     20,00,000     3
33         Mitchell  Starc    Overseas         Bowler  24,75,00,000     3
34     Sherfane Rutherford    Overseas         Batter   1,50,00,000     3
35        Ramandeep  Singh      Indian    All-Rounder     20,00,000     3
36             K.S. Bharat      Indian  Wicket-Keeper     50,00,000     3
37         Chetan Sakariya      Indian         Bowler     50,00,000     3
38           Sakib Hussain      Indian         Bowler     20,00,000     3
39           Ashton Turner    Overseas         Batter   1,00,00,000     4
40            David Willey    Overseas    All-Rounder   2,00,00,000     4
41            M. Siddharth      Indian         Bowler   2,40,00,000     4
42            Shivam  Mavi      Indian         Bowler   6,40,00,000     4
43         Arshin Kulkarni      Indian    All-Rounder     20,00,000     4
44       Mohd. Arshad Khan      Indian    All-Rounder     20,00,000     4
45      Dilshan Madushanka    Overseas         Bowler   4,60,00,000     5
46           Shreyas Gopal      Indian         Bowler     20,00,000     5
47         Shivalik Sharma      Indian    All-Rounder     20,00,000     5
48           Anshul Kamboj      Indian    All-Rounder     20,00,000     5
49           Mohammad Nabi    Overseas    All-Rounder   1,50,00,000     5

    Year
0   2024
1   2024
2   2024
3   2024
4   2024
5   2024
6   2024
7   2024
8   2024
9   2024
10  2024
11  2024
12  2024
13  2024
14  2024
15  2024
16  2024
17  2024
18  2024
19  2024
20  2024
21  2024
22  2024
23  2024
24  2024
25  2024
26  2024
27  2024
28  2024
29  2024
30  2024
31  2024
32  2024
33  2024
34  2024
35  2024
36  2024
37  2024
38  2024
39  2024
40  2024
41  2024
42  2024
43  2024
44  2024
45  2024
46  2024
47  2024
48  2024
49  2024

In [21]:
combined_df.drop('NATIONALITY', axis=1,inplace=True)

In [22]:
combined_df

                  PLAYER           TYPE    PRICE PAID  Team  Year
0   Avanish Rao Aravelly  Wicket-Keeper     20,00,000     0  2024
1      Mustafizur Rahman         Bowler   2,00,00,000     0  2024
2         Daryl Mitchell    All-Rounder  14,00,00,000     0  2024
3           Sameer Rizvi         Batter   8,40,00,000     0  2024
4        Rachin Ravindra    All-Rounder   1,80,00,000     0  2024
..                   ...            ...           ...   ...   ...
67            Tom Curran    All-Rounder   1,50,00,000     8  2024
68        Saurav Chuahan         Batter     20,00,000     8  2024
69        Alzarri Joseph         Bowler  11,50,00,000     8  2024
70         Swapnil Singh    All-Rounder     20,00,000     8  2024
71           Yash  Dayal         Bowler   5,00,00,000     8  2024

[72 rows x 5 columns]

In [23]:
my_dict22_24 = {
    0: 'Chennai Super Kings',
    1: 'Delhi Daredevils',
    2: 'Gujarat Titans',
    3: 'Kolkata Knight Riders',
    4: 'Lucknow Super Giants',
    5: 'Mumbai Indians',
    6: 'Punjab Kings',
    7: 'Rajasthan Royals',
    8: 'Royal Challengers Bangalore',
    9: 'Sunrisers Hyderabad'
}

In [24]:
combined_df['Team']=combined_df.Team.map(my_dict22_24)
combined_df

,PLAYER,TYPE,PRICE PAID,Team,Year
0,Avanish Rao Aravelly,Wicket-Keeper,"20,00,000",Chennai Super Kings,2024
1,Mustafizur Rahman,Bowler,"2,00,00,000",Chennai Super Kings,2024
2,Daryl Mitchell,All-Rounder,"14,00,00,000",Chennai Super Kings,2024
3,Sameer Rizvi,Batter,"8,40,00,000",Chennai Super Kings,2024
4,Rachin Ravindra,All-Rounder,"1,80,00,000",Chennai Super Kings,2024
...,...,...,...,...,...
67,Tom Curran,All-Rounder,"1,50,00,000",Royal Challengers Bangalore,2024
68,Saurav Chuahan,Batter,"20,00,000",Royal Challengers Bangalore,2024
69,Alzarri Joseph,Bowler,"11,50,00,000",Royal Challengers Bangalore,2024
70,Swapnil Singh,All-Rounder,"20,00,000",Royal Challengers Bangalore,2024
71,Yash Dayal,Bowler,"5,00,00,000",Royal Challengers Bangalore,2024

In [25]:
folder_path = r'C:\Users\prabh\OneDrive\Desktop\IPL_Auction\combined_data_per_year'  

#change year
file_path = os.path.join(folder_path, '2024_final.csv')


combined_df.to_csv(file_path, index=False)